/*footer*/
#footer {
  background: none;
  padding: 0 0 20px;
  .footnav{
    ul{
      padding: 33.612px 0;
      margin: 0;
      background: #004600;
      li{
        display: inline-block;
        vertical-align: middle;
        a{
          font-family: Arimo;
          font-weight: 700;
          font-size: 16px;
          color: #FFFFFF;
          padding: 0 68.5px;
        }
      }
    }
  }
  .footBot{
    .container{
      padding: 25px 0;
      .row{
        dl{
          width: 19%;
          display: inline-block;
          vertical-align: middle;
          margin: 0 auto;
          dt{
            img{
              &.bg-address{
                width: 27px;
                height: 33px;
                background: url(../images/common/css-sprites.png)no-repeat -112px 0px;
              }
              &.bg-email{
                width: 33px;
                height: 25px;
                background: url(../images/common/css-sprites.png)no-repeat -167px -4px;
              }
            }
          }
          dd{
            margin: 0;
            padding: 10px 0;
            p{
              margin: 0;
              font-family: Arimo;
              font-weight: 400;
              font-size: 15px;
              color: #000000;
            }
          }
          &:nth-child(2){
            width: 60%;
            img{
              max-width: 328px;
              width: 100%;
            }
            dd{
              margin-top: -30px;
              p{
                line-height: 25px;
                &:nth-child(1){font-family: Lato; font-weight: 400; font-size: 18px; color: #004600;margin: 0 auto;}
                &:nth-child(2){font-family: "Copperplate Gothic"; font-weight: 300; font-size: 12px; color: #000000;margin: 0 auto;letter-spacing: 2px;}
              }
            }
          }
        }
      }
    }
  }
  .silver img {
    display: inline-block;
    vertical-align: middle;
    max-width: 50px;
  }
  .social-m{
    font-size: 25px;
    color: #676767;
    a{letter-spacing: 20px}
  }
}
