/*header*/

#header {
  background: #B3CDE0;
  .hdTop{
    background: url(../images/common/bgHeader.jpg)no-repeat center top;
    background-size: cover;
    padding: 0 0 837px;
    .container{
      background: rgba(0,70,0,0.9);
      padding: 25px 0;
      .row{
        dl{
          width: 19%;
          display: inline-block;
          vertical-align: middle;
          margin: 0 auto;
          dt{
            img{
              &.bg-address{
                width: 27px;
                height: 33px;
                background: url(../images/common/css-sprites.png)no-repeat 0 0px;
              }
              &.bg-email{
                width: 33px;
                height: 25px;
                background: url(../images/common/css-sprites.png)no-repeat -51px -4px;
              }
            }
          }
          dd{
            margin: 0;
            padding: 10px 0;
            p{
              margin: 0;
              font-family: Arimo;
              font-weight: 400;
              font-size: 15px;
              color: #FFFFFF;
            }
          }
          &:nth-child(2){
            width: 60%;
            img{
              max-width: 328px;
              width: 100%;
            }
            dd{
              margin-top: -30px;
              p{
                line-height: 25px;
                &:nth-child(1){font-family: Lato; font-weight: 400; font-size: 18px; color: #FFFFFF;margin: 0 auto;}
                &:nth-child(2){font-family: "Copperplate Gothic"; font-weight: 300; font-size: 12px; color: #FFFFFF;margin: 0 auto;letter-spacing: 2px;}
              }
            }
          }
        }
      }
    }
  }
  .hdBot{
    background: #004600;
    padding: 33.61px 0;
    .row{max-width: 1365px}
    nav {
      a#pull {
        display: none;
      }
      ul {
        margin: 0;
        padding: 0;
        li {
          display: inline-block;
          vertical-align: middle;
          a {
            position: relative;
            font-family: Arimo;
            font-weight: 700;
            font-size: 16px;
            padding: 34.5px 68.5px;
            max-width: (100%/6);
            color: #FFFFFF;
          }
          &.active-menu a, a:hover {
            color: #fff;
            background: #008B00;
            &::before{
              content: "";
              position: absolute;
              top: 15px;
              left: 50%;
              transform: translateX(-50%);
              width: 0;
            	height: 0;
            	border-left: 7px solid transparent;
            	border-right: 7px solid transparent;
            	border-top: 9px solid #FFF;
            }
          }
        }
      }
    }
  }
}
