/** Responsive
-------------------------------------------------------*/
@media screen and (max-width: 1440px){
  .row {
    width: 95%;
  }
  #header{
    .hdTop{
      .container{
        .row{
          dl{
            width: 22%;
            &:nth-child(2){
              width: 55%;
            }
          }
        }
      }
    }
    .hdBot{
      nav{
        ul{
          li{
            a{
              padding: 34.5px 18.5px;
            }
          }
        }
      }
    }
  }
  #welcome .wlcMid img.house{
    .wlcMid{
      img.house{
        width: 49.2%;
      }
    }
  }
  #contact{
    form{
      .cntRight{
        padding: 0 47px;
      }
    }
  }
  #footer{
    .footnav{
      ul{
        li{
          a{
            padding: 34.5px 18.5px;
          }
        }
      }
    }
    .footBot{
      .container{
        .row{
          dl{
            width: 22%;
            &:nth-child(2){
              width: 55%;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1024px) {
  body {
    min-width: 320px;
  }
  [class*="col-"] {
    width: 100%!important;
  }
  #header{
    .hdTop{
      .container{
        .row{
          dl{
            width: 32%;
            &:nth-child(2){
              width: 34%;
            }
          }
        }
      }
    }
    .hdBot{
      nav{
        ul{
          li{
            a{
              padding: 34.5px 18.5px;
            }
          }
        }
      }
    }
  }
  #welcome{
    .wlcTop{

    }
    .wlcMid{
      padding: 40px 0 0;
      .wlcMidLeft{
        padding: 20px 0 ;
      }
      .wlcMidRight{
        padding: 20px 0;
        &::before{
          display: none;
        }
      }
      img.house{display: none;}
    }
    .wlcBot{
      padding: 0;
      dl{
        margin: 20px
      }
    }
  }
  #contact{
    form{
      .cntRight{
        text-align:left;
        padding: 0;
        br{
          display: none;
        }
        .g-recaptcha{
          width: 100%;
        }
      }
      .btn{margin: 20px auto;}
    }
  }
}
#footer{
  .footBot{
    .container{
      .row{
        dl{
          width: 32%;
          &:nth-child(2){
            width: 34%;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 800px) {

  #header {
    padding: 0;
    .row {
      width: 100%;
    }
    .hdTop{
      padding: 0 0 0px;
      .container{
        padding: 25px 0;
        .row{
        dl{
            width: 100%;
            &:nth-child(2){
              width: 100%;
            }
          }
        }
      }
    }
    .hdBot{
      padding: 0;
      nav {
        display: block;
        height: auto;
        ul {
          width: 100%;
          display: none;
          height: auto;
          border-bottom: 5px solid #000;
          padding: 0;
          li {
            width: 100%;
            position: relative;
            a {
              display: block;
              float: none;
              padding: 0 0 0 10px;
              max-width: 98.6%;
              line-height: 40px;
            }
          }
        }
        a {
          text-align: left;
          width: 100%;
          strong {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 15px;
          }
          &#pull {
            display: block;
            color: #fff;
            background-color: #004600;
            height: 30px;
            padding: 10px 0;
            width: 100%;
            position: relative;
            &:after {
              content: "";
              background: url('../images/nav-icon.png') no-repeat;
              width: 20px;
              height: 20px;
              display: inline-block;
              position: absolute;
              right: 15px;
              top: 50%;
              transform: translateY(-50%);
            }
          }
        }
      }
    }
  }
  #footer{
    .footnav{
      display: none;
    }
    .footBot{
      padding: 0 0 0;
      .container{
        padding: 25px 0;
        .row{
        dl{
            width: 100%;
            &:nth-child(2){
              width: 100%;
            }
          }
        }
      }
    }
  }
  .cta {
    background: #004600 url("../images/common/phonecall.png") no-repeat center center;
    border-bottom-left-radius: 40px;
    border-top: 2px solid #004600;
    border-top-left-radius: 40px;
    bottom: 1%;
    display: block;
    height: 80px;
    position: fixed;
    right: 0;
    text-decoration: none;
    text-indent: -9999em;
    width: 100px;
    z-index: 999;
  }
  .sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  }

}
@media screen and (max-width: 600px) {
  h1{font-size: 8vw}
  h2 {
    font-size: 5vw;
  }
  #welcome{
    .wlcTop{
      .container{
        max-width: 100%
      }
    }
    .wlcMid{
      .wlcMidLeft{
        h1{
          margin-left: 0;
        }
      }
    }
    .wlcBot{
      dl{width: 40%;}
    }
  }
  #section2{
    p{
      font-size: 7vw
    }
  }
}
@media screen and (max-width: 460px) {
  #welcome{
    .wlcTop{
      .container{
        max-width: 76%
      }
    }
    .wlcBot{
      dl{width: 100%;}
    }
  }
}
@media screen and (max-width: 340px) {
  #welcome{
    .wlcTop{
      .container{
        max-width: 67%
      }
    }
  }
}
