h1 {
  font-size: 65px;
  font-weight: 400;
  color: #008B00;
}
h2{
  font-size: 25px;
  font-weight: 700;
  color: #000000;
  span{
    display: block;
    font-size: 65px;
    font-weight: 400;
    color: #008B00;
  }
}
