/*header*/
#header {
  background: #B3CDE0; }
  #header .hdTop {
    background: url(../images/common/bgHeader.jpg) no-repeat center top;
    background-size: cover;
    padding: 0 0 837px; }
    #header .hdTop .container {
      background: rgba(0, 70, 0, 0.9);
      padding: 28px 0; }
      #header .hdTop .container .row dl {
        width: 16.5%;
        display: inline-block;
        vertical-align: middle; }
        #header .hdTop .container .row dl dt img.bg-address {
          width: 27px;
          height: 33px;
          background: url(../images/common/); }
        #header .hdTop .container .row dl:nth-child(2) {
          width: 66%; }
  #header .hdBot nav a#pull {
    display: none; }
  #header .hdBot nav ul {
    margin: 0;
    padding: 0; }
    #header .hdBot nav ul li {
      display: inline-block;
      vertical-align: middle; }
      #header .hdBot nav ul li.active-menu a, #header .hdBot nav ul li a:hover {
        color: #fff; }
