/*contact*/
@mixin font{
  font-family: Arimo;
  font-size: 15px;
  color: #000000;
}
$input-width:width/2;
#contact{
  padding: 30px 0;
  p{
    @include font;
    font-size: 15+3px
  }
  form{
    padding: 50px 0;
    .cntLeft{
      input[type="text"]{
        width: 97%;
        height: 50px;
        background: #EEEEEE;
        &::placeholder{
          @include font;
        }
      }
      textarea{
        width: 98.8%;
        height: 179px;
        background: #EEEEEE;
        &::placeholder{
          @include font;
        }
      }
    }
    .cntRight{
      text-align: left;
      padding: 0 50px;
      span.response{
        display: inline-block;
        vertical-align: top;
        width: 94%;
        margin: 0 0 0 10px;
        @include font;
      }
      .g-recaptcha{
        margin: 10px 0;
        width: 56%;
      }
    }
    .btn{
      text-transform: uppercase;
      margin: 20px 0;
    }
  }
}
iframe.map{
  border:0;
  width: 100%;
  height: 650px;
}
