/*gallery*/
#gallery{
  padding: 90px 0 0;
  p{
    font-family: Arimo;
    font-weight: 400;
    font-size: 18px;
    color: #000000;
  }
  .container{
    margin-top: 65px;
    position: relative;
    .home-gallery{
      .slick-slide{
        img{
          margin: 0 5px;
        }
      }
    }
    .left{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 19%;
      cursor: pointer;
      font-size: 20px;
      color: #FFFFFF;
      padding: 6px 11.66px;
      background: #000000;
      border-radius: 200px;
      border: 2px solid #FFF;
      &:hover{
        background: #008B00;
      }
    }
    .right{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 19%;
      cursor: pointer;
      font-size: 20px;
      color: #FFFFFF;
      padding: 6px 11.66px;
      background: #000000;
      border-radius: 200px;
      border: 2px solid #FFF;
      &:hover{
        background: #008B00;
      }
    }
  }
}
