/*section2*/
#section2{
  background: url(../images/common/bgSection2.jpg)no-repeat center top;
  background-size: cover;
  padding: 90px 0;
  p{
    max-width: 1260px;
    width: 100%;
    font-family: Arimo;
    font-weight: 700;
    font-size: 45px;
    color: #FFFFFF;
    margin: 0 auto 60px;
  }
}
