/*welcome*/
#welcome{
  position: relative;
  padding: 90px 0 70px;
  .wlcTop{
    max-width: 1016px;
    width: 100%;
    margin: 0 auto;
    background: url(../images/common/bgWelcome.jpg)no-repeat center top;
    background-size: cover;
    .container{
      max-width: 318px;
      padding: 38.5px 50px;
      background: rgba(0, 139, 0, 0.9);
      h2{
        font-family: Arimo;
        font-weight: 700;
        font-size: 65px;
        color: #FFFFFF;
        span{
          display: block;
          font-family: Arimo;
          font-weight: 700;
          font-size: 18px;
          color: #FFFFFF;
          letter-spacing: 1px;
          border-top: 1px solid #FFF;
          border-bottom: 1px solid #FFF;
          padding: 10px 0;
        }
      }
      p:nth-of-type(1){
        font-family: Arimo;
        font-weight: 400;
        font-size: 15px;
        color: #FFFFFF;
      }
      p:nth-of-type(2){
        font-family: Arimo;
        font-weight: 400;
        font-size: 20px;
        color: #FFFFFF;
        line-height: 45px;
        span{
          display: block;
          font-weight: 700;
          font-size: 45px;
          color: #FFFFFF;
        }
      }
    }
  }
  .wlcMid{
    max-width: 1016px;
    margin: 0 auto;
    padding: 89px 0 0;
    img.house{
      position: absolute;
      left: 0;
      bottom: 32%;
      z-index: -1;
      max-width: 960px;
      width: 49.4%;
    }
    .wlcMidLeft{
      text-align: left;
      padding: 24px 0 167px;
      &.col-6{width: 48.8%;}
      h1{
        margin-left: 66px;
      }
    }
    .wlcMidRight{
      position: relative;
      padding: 56px 0 62px 60px;
      &.col-6{width: 45.2%;}
      &::before{
        content: "";
        width: 2px;
        height: 355px;
        background: #008B00;
        position: absolute;
        bottom: 0;
        left: 0;
      }
      p{
        text-align: left;
        font-family: Arimo;
        font-weight: 400;
        font-size: 18px;
        color: #000;
        &:nth-child(1){
          font-weight: bold;
        }
      }
    }
  }
  .wlcBot{
    padding: 116px 0 0;
    dl{
      margin: 0 54px;
      max-width: 281px;
      width: 22%;
      display: inline-block;
      vertical-align: top;
      dt{
        img{max-width: 281px; width: 100%;}
      }
      dd{
        padding: 20px 0;
        margin: 0;
        font-family: Arimo;
        font-weight: 700;
        font-size: 15px;
        color: #008B00;
      }
    }
  }
}
