@font-face { font-family: "socialico"; src: url("fonts/Socialico/Socialico.eot"); src: url("fonts/Socialico/Socialico.eot?#iefix") format("embedded-opentype"), url("fonts/Socialico/Socialico.woff2") format("woff2"), url("fonts/Socialico/Socialico.woff") format("woff"), url("fonts/Socialico/Socialico.ttf") format("truetype"), url("fonts/Socialico/Socialico.svg#lobster_1.4regular") format("svg"); }

@font-face { font-family: 'Lato'; src: url("fonts/Lato-Regular.woff2") format("woff2"), url("fonts/Lato-Regular.woff") format("woff"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'Arimo'; src: url("fonts/Arimo.woff2") format("woff2"), url("fonts/Arimo.woff") format("woff"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'Copperplate Gothic'; src: url("fonts/CopperplateGothic-Light.woff2") format("woff2"), url("fonts/CopperplateGothic-Light.woff") format("woff"); font-weight: 300; font-style: normal; }

@font-face { font-family: 'Arimo'; src: url("fonts/Arimo-Bold.woff2") format("woff2"), url("fonts/Arimo-Bold.woff") format("woff"); font-weight: bold; font-style: normal; }

@font-face { font-family: 'Montserrat'; src: url("fonts/Montserrat-Bold.woff2") format("woff2"), url("fonts/Montserrat-Bold.woff") format("woff"); font-weight: bold; font-style: normal; }

.suspension-contain { max-height: 980px; overflow: hidden; position: relative; }

html.suspended { background: rgba(0, 0, 0, 0.6); }

body { max-width: 100%; min-width: 1200px; margin: 0 auto; text-align: center; font-family: Arimo; }

a { color: inherit; text-decoration: none; }

a:hover { text-decoration: none; color: inherit; }

h1, h2, h3, h4, h5 { padding: 0; margin: 0; }

.row { max-width: 1300px; margin: 0 auto; }

.col-1 { width: 8.33%; }

.col-2 { width: 16.66%; }

.col-3 { width: 25%; }

.col-4 { width: 33.33%; }

.col-5 { width: 41.66%; }

.col-6 { width: 50%; }

.col-7 { width: 58.33%; }

.col-8 { width: 66.66%; }

.col-9 { width: 75%; }

.col-10 { width: 83.33%; }

.col-11 { width: 91.66%; }

.col-12 { width: 100%; }

/*floats*/
.fl { float: left; }

.fr { float: right; }

/*typography*/
.text-primary { color: #B11414; }

.text-bold { font-weight: 700; }

.text-uppercase { text-transform: uppercase; }

.text-center { text-align: center !important; }

.text-left { text-align: left; }

/*button*/
.btn { font-family: Arimo; font-size: 13px; font-weight: 700; letter-spacing: 1px; color: #FFFFFF; display: inline-block; padding: 21px 40.3px; background: #008B00; border-radius: 5px; border: 1px solid transparent; -webkit-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }

.btn:hover { background: #ddd; border-color: #ddd; color: #ddd; color: #fff; }

/*clearings*/
.clear { clear: both; }

.clearfix { display: block; }

.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; font-size: 0; }

/*cookie*/
.cc-animate.cc-revoke.cc-bottom { font-size: 14px; padding: 5px 10px; position: fixed; display: block !important; -webkit-transform: none !important; -ms-transform: none !important; transform: none !important; bottom: 0 !important; left: 20px !important; }

/*call to action*/
.destroy-on-load, .cta { display: none; }

/*contact form messages*/
form .messages p { display: none; font-family: Arial !important; font-weight: 400 !important; letter-spacing: 0 !important; font-size: 16px !important; }

form .loading { display: none; }

form .alert { padding: 15px; margin-bottom: 20px; border: 1px solid transparent; border-radius: 4px; }

form .alert-success { color: #3c763d; background-color: #dff0d8; border-color: #d6e9c6; }

form .alert-danger { color: #a94442; background-color: #f2dede; border-color: #ebccd1; }

form [type="submit"] { margin: 20px auto; }

/*contact form*/
.ctc-form { margin: 0 auto; text-align: center; }

.ctc-form input[type="text"] { font-family: Arial; font-size: 16px; color: #000; height: 45px; display: block; width: 100%; border: 1px solid #ddd; border-radius: 3px; padding: 5px 10px; -webkit-box-sizing: border-box; box-sizing: border-box; margin: 0 auto 8px; }

.ctc-form textarea { font-family: Arial; font-size: 16px; color: #000; height: 45px; display: block; width: 100%; border: 1px solid #ddd; border-radius: 3px; padding: 5px 10px; -webkit-box-sizing: border-box; box-sizing: border-box; margin: 0 auto 8px; height: 120px; padding-top: 10px; }

.ctc-form button { display: block; }

.ctc-form .recap { display: inline-block; }

.ctc-form .g-recaptcha div { margin: 0 auto 10px; }

.ctc-form .ctc-hide { display: none; }

/*gallery*/
#content .gallery-container { text-align: center; }

#content .gallery { list-style-type: none; margin: 0; padding: 0; }

#content .gallery li { display: inline-block; }

#content .thumbnail { background-color: #fff; border: 1px solid #ddd; border-radius: 4px; display: block; line-height: .42857; margin-bottom: 20px; padding: 4px; -webkit-transition: border 0.5s ease-in-out 0s; -o-transition: border 0.5s ease-in-out 0s; transition: border 0.5s ease-in-out 0s; }

#content .thumbnail:hover { -webkit-transform: scale(1.02); -ms-transform: scale(1.02); transform: scale(1.02); }

#content .page_navigation { display: inline-block; }

#content .page_link, #content .previous_link, #content .next_link, #content .first_link, #content .last_link, #content .ellipse { background-color: #fff; border: 1px solid #ddd; color: #0275d8; display: inline-block; line-height: 1.25; margin-left: -1px; padding: 0.5rem 0.75rem; position: relative; }

#content .page_navigation > a:hover { background-color: #eceeef; border-color: #ddd; color: #014c8c; text-decoration: none; }

.page_navigation > a.active_page { background-color: #eceeef; border-color: #ddd; color: #014c8c; text-decoration: none; }

h1 { font-size: 65px; font-weight: 400; color: #008B00; }

h2 { font-size: 25px; font-weight: 700; color: #000000; }

h2 span { display: block; font-size: 65px; font-weight: 400; color: #008B00; }

/*header*/
#header { background: #B3CDE0; }

#header .hdTop { background: url(../images/common/bgHeader.jpg) no-repeat center top; background-size: cover; padding: 0 0 837px; }

#header .hdTop .container { background: rgba(0, 70, 0, 0.9); padding: 25px 0; }

#header .hdTop .container .row dl { width: 19%; display: inline-block; vertical-align: middle; margin: 0 auto; }

#header .hdTop .container .row dl dt img.bg-address { width: 27px; height: 33px; background: url(../images/common/css-sprites.png) no-repeat 0 0px; }

#header .hdTop .container .row dl dt img.bg-email { width: 33px; height: 25px; background: url(../images/common/css-sprites.png) no-repeat -51px -4px; }

#header .hdTop .container .row dl dd { margin: 0; padding: 10px 0; }

#header .hdTop .container .row dl dd p { margin: 0; font-family: Arimo; font-weight: 400; font-size: 15px; color: #FFFFFF; }

#header .hdTop .container .row dl:nth-child(2) { width: 60%; }

#header .hdTop .container .row dl:nth-child(2) img { max-width: 328px; width: 100%; }

#header .hdTop .container .row dl:nth-child(2) dd { margin-top: -30px; }

#header .hdTop .container .row dl:nth-child(2) dd p { line-height: 25px; }

#header .hdTop .container .row dl:nth-child(2) dd p:nth-child(1) { font-family: Lato; font-weight: 400; font-size: 18px; color: #FFFFFF; margin: 0 auto; }

#header .hdTop .container .row dl:nth-child(2) dd p:nth-child(2) { font-family: "Copperplate Gothic"; font-weight: 300; font-size: 12px; color: #FFFFFF; margin: 0 auto; letter-spacing: 2px; }

#header .hdBot { background: #004600; padding: 33.61px 0; }

#header .hdBot .row { max-width: 1365px; }

#header .hdBot nav a#pull { display: none; }

#header .hdBot nav ul { margin: 0; padding: 0; }

#header .hdBot nav ul li { display: inline-block; vertical-align: middle; }

#header .hdBot nav ul li a { position: relative; font-family: Arimo; font-weight: 700; font-size: 16px; padding: 34.5px 68.5px; max-width: 16.66667%; color: #FFFFFF; }

#header .hdBot nav ul li.active-menu a, #header .hdBot nav ul li a:hover { color: #fff; background: #008B00; }

#header .hdBot nav ul li.active-menu a::before, #header .hdBot nav ul li a:hover::before { content: ""; position: absolute; top: 15px; left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); width: 0; height: 0; border-left: 7px solid transparent; border-right: 7px solid transparent; border-top: 9px solid #FFF; }

/*banner*/
#banner { background: #6497B1; padding: 40px 0; }

/*welcome*/
#welcome { position: relative; padding: 90px 0 70px; }

#welcome .wlcTop { max-width: 1016px; width: 100%; margin: 0 auto; background: url(../images/common/bgWelcome.jpg) no-repeat center top; background-size: cover; }

#welcome .wlcTop .container { max-width: 318px; padding: 38.5px 50px; background: rgba(0, 139, 0, 0.9); }

#welcome .wlcTop .container h2 { font-family: Arimo; font-weight: 700; font-size: 65px; color: #FFFFFF; }

#welcome .wlcTop .container h2 span { display: block; font-family: Arimo; font-weight: 700; font-size: 18px; color: #FFFFFF; letter-spacing: 1px; border-top: 1px solid #FFF; border-bottom: 1px solid #FFF; padding: 10px 0; }

#welcome .wlcTop .container p:nth-of-type(1) { font-family: Arimo; font-weight: 400; font-size: 15px; color: #FFFFFF; }

#welcome .wlcTop .container p:nth-of-type(2) { font-family: Arimo; font-weight: 400; font-size: 20px; color: #FFFFFF; line-height: 45px; }

#welcome .wlcTop .container p:nth-of-type(2) span { display: block; font-weight: 700; font-size: 45px; color: #FFFFFF; }

#welcome .wlcMid { max-width: 1016px; margin: 0 auto; padding: 89px 0 0; }

#welcome .wlcMid img.house { position: absolute; left: 0; bottom: 32%; z-index: -1; max-width: 960px; width: 49.4%; }

#welcome .wlcMid .wlcMidLeft { text-align: left; padding: 24px 0 167px; }

#welcome .wlcMid .wlcMidLeft.col-6 { width: 48.8%; }

#welcome .wlcMid .wlcMidLeft h1 { margin-left: 66px; }

#welcome .wlcMid .wlcMidRight { position: relative; padding: 56px 0 62px 60px; }

#welcome .wlcMid .wlcMidRight.col-6 { width: 45.2%; }

#welcome .wlcMid .wlcMidRight::before { content: ""; width: 2px; height: 355px; background: #008B00; position: absolute; bottom: 0; left: 0; }

#welcome .wlcMid .wlcMidRight p { text-align: left; font-family: Arimo; font-weight: 400; font-size: 18px; color: #000; }

#welcome .wlcMid .wlcMidRight p:nth-child(1) { font-weight: bold; }

#welcome .wlcBot { padding: 116px 0 0; }

#welcome .wlcBot dl { margin: 0 54px; max-width: 281px; width: 22%; display: inline-block; vertical-align: top; }

#welcome .wlcBot dl dt img { max-width: 281px; width: 100%; }

#welcome .wlcBot dl dd { padding: 20px 0; margin: 0; font-family: Arimo; font-weight: 700; font-size: 15px; color: #008B00; }

/*section2*/
#section2 { background: url(../images/common/bgSection2.jpg) no-repeat center top; background-size: cover; padding: 90px 0; }

#section2 p { max-width: 1260px; width: 100%; font-family: Arimo; font-weight: 700; font-size: 45px; color: #FFFFFF; margin: 0 auto 60px; }

/*gallery*/
#gallery { padding: 90px 0 0; }

#gallery p { font-family: Arimo; font-weight: 400; font-size: 18px; color: #000000; }

#gallery .container { margin-top: 65px; position: relative; }

#gallery .container .home-gallery .slick-slide img { margin: 0 5px; }

#gallery .container .left { position: absolute; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); left: 19%; cursor: pointer; font-size: 20px; color: #FFFFFF; padding: 6px 11.66px; background: #000000; border-radius: 200px; border: 2px solid #FFF; }

#gallery .container .left:hover { background: #008B00; }

#gallery .container .right { position: absolute; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); right: 19%; cursor: pointer; font-size: 20px; color: #FFFFFF; padding: 6px 11.66px; background: #000000; border-radius: 200px; border: 2px solid #FFF; }

#gallery .container .right:hover { background: #008B00; }

/*contact*/
#contact { padding: 30px 0; }

#contact p { font-family: Arimo; font-size: 15px; color: #000000; font-size: 18px; }

#contact form { padding: 50px 0; }

#contact form .cntLeft input[type="text"] { width: 97%; height: 50px; background: #EEEEEE; }

#contact form .cntLeft input[type="text"]::-webkit-input-placeholder { font-family: Arimo; font-size: 15px; color: #000000; }

#contact form .cntLeft input[type="text"]:-ms-input-placeholder { font-family: Arimo; font-size: 15px; color: #000000; }

#contact form .cntLeft input[type="text"]::-ms-input-placeholder { font-family: Arimo; font-size: 15px; color: #000000; }

#contact form .cntLeft input[type="text"]::placeholder { font-family: Arimo; font-size: 15px; color: #000000; }

#contact form .cntLeft textarea { width: 98.8%; height: 179px; background: #EEEEEE; }

#contact form .cntLeft textarea::-webkit-input-placeholder { font-family: Arimo; font-size: 15px; color: #000000; }

#contact form .cntLeft textarea:-ms-input-placeholder { font-family: Arimo; font-size: 15px; color: #000000; }

#contact form .cntLeft textarea::-ms-input-placeholder { font-family: Arimo; font-size: 15px; color: #000000; }

#contact form .cntLeft textarea::placeholder { font-family: Arimo; font-size: 15px; color: #000000; }

#contact form .cntRight { text-align: left; padding: 0 50px; }

#contact form .cntRight span.response { display: inline-block; vertical-align: top; width: 94%; margin: 0 0 0 10px; font-family: Arimo; font-size: 15px; color: #000000; }

#contact form .cntRight .g-recaptcha { margin: 10px 0; width: 56%; }

#contact form .btn { text-transform: uppercase; margin: 20px 0; }

iframe.map { border: 0; width: 100%; height: 650px; }

/*footer*/
#footer { background: none; padding: 0 0 20px; }

#footer .footnav ul { padding: 33.612px 0; margin: 0; background: #004600; }

#footer .footnav ul li { display: inline-block; vertical-align: middle; }

#footer .footnav ul li a { font-family: Arimo; font-weight: 700; font-size: 16px; color: #FFFFFF; padding: 0 68.5px; }

#footer .footBot .container { padding: 25px 0; }

#footer .footBot .container .row dl { width: 19%; display: inline-block; vertical-align: middle; margin: 0 auto; }

#footer .footBot .container .row dl dt img.bg-address { width: 27px; height: 33px; background: url(../images/common/css-sprites.png) no-repeat -112px 0px; }

#footer .footBot .container .row dl dt img.bg-email { width: 33px; height: 25px; background: url(../images/common/css-sprites.png) no-repeat -167px -4px; }

#footer .footBot .container .row dl dd { margin: 0; padding: 10px 0; }

#footer .footBot .container .row dl dd p { margin: 0; font-family: Arimo; font-weight: 400; font-size: 15px; color: #000000; }

#footer .footBot .container .row dl:nth-child(2) { width: 60%; }

#footer .footBot .container .row dl:nth-child(2) img { max-width: 328px; width: 100%; }

#footer .footBot .container .row dl:nth-child(2) dd { margin-top: -30px; }

#footer .footBot .container .row dl:nth-child(2) dd p { line-height: 25px; }

#footer .footBot .container .row dl:nth-child(2) dd p:nth-child(1) { font-family: Lato; font-weight: 400; font-size: 18px; color: #004600; margin: 0 auto; }

#footer .footBot .container .row dl:nth-child(2) dd p:nth-child(2) { font-family: "Copperplate Gothic"; font-weight: 300; font-size: 12px; color: #000000; margin: 0 auto; letter-spacing: 2px; }

#footer .silver img { display: inline-block; vertical-align: middle; max-width: 50px; }

#footer .social-m { font-size: 25px; color: #676767; }

#footer .social-m a { letter-spacing: 20px; }

/*inner pages*/
.inner #content { min-height: 400px; padding: 40px 0; }

.inner #content .container { text-align: left; }

.inner #content .gallery-container { max-width: 1200px; margin: 0 auto; }

/*privacy policy*/
.inPrivacyBox { max-width: 850px; margin: 0 auto; }

.inPrivacyBox p { text-align: justify !important; }

/** Responsive
-------------------------------------------------------*/
@media screen and (max-width: 1440px) { .row { width: 95%; }
  #header .hdTop .container .row dl { width: 22%; }
  #header .hdTop .container .row dl:nth-child(2) { width: 55%; }
  #header .hdBot nav ul li a { padding: 34.5px 18.5px; }
  #welcome .wlcMid img.house .wlcMid img.house { width: 49.2%; }
  #contact form .cntRight { padding: 0 47px; }
  #footer .footnav ul li a { padding: 34.5px 18.5px; }
  #footer .footBot .container .row dl { width: 22%; }
  #footer .footBot .container .row dl:nth-child(2) { width: 55%; } }

@media screen and (max-width: 1024px) { body { min-width: 320px; }
  [class*="col-"] { width: 100% !important; }
  #header .hdTop .container .row dl { width: 32%; }
  #header .hdTop .container .row dl:nth-child(2) { width: 34%; }
  #header .hdBot nav ul li a { padding: 34.5px 18.5px; }
  #welcome .wlcMid { padding: 40px 0 0; }
  #welcome .wlcMid .wlcMidLeft { padding: 20px 0; }
  #welcome .wlcMid .wlcMidRight { padding: 20px 0; }
  #welcome .wlcMid .wlcMidRight::before { display: none; }
  #welcome .wlcMid img.house { display: none; }
  #welcome .wlcBot { padding: 0; }
  #welcome .wlcBot dl { margin: 20px; }
  #contact form .cntRight { text-align: left; padding: 0; }
  #contact form .cntRight br { display: none; }
  #contact form .cntRight .g-recaptcha { width: 100%; }
  #contact form .btn { margin: 20px auto; } }

#footer .footBot .container .row dl { width: 32%; }

#footer .footBot .container .row dl:nth-child(2) { width: 34%; }

@media screen and (max-width: 800px) { #header { padding: 0; }
  #header .row { width: 100%; }
  #header .hdTop { padding: 0 0 0px; }
  #header .hdTop .container { padding: 25px 0; }
  #header .hdTop .container .row dl { width: 100%; }
  #header .hdTop .container .row dl:nth-child(2) { width: 100%; }
  #header .hdBot { padding: 0; }
  #header .hdBot nav { display: block; height: auto; }
  #header .hdBot nav ul { width: 100%; display: none; height: auto; border-bottom: 5px solid #000; padding: 0; }
  #header .hdBot nav ul li { width: 100%; position: relative; }
  #header .hdBot nav ul li a { display: block; float: none; padding: 0 0 0 10px; max-width: 98.6%; line-height: 40px; }
  #header .hdBot nav a { text-align: left; width: 100%; }
  #header .hdBot nav a strong { position: absolute; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); left: 15px; }
  #header .hdBot nav a#pull { display: block; color: #fff; background-color: #004600; height: 30px; padding: 10px 0; width: 100%; position: relative; }
  #header .hdBot nav a#pull:after { content: ""; background: url("../images/nav-icon.png") no-repeat; width: 20px; height: 20px; display: inline-block; position: absolute; right: 15px; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); }
  #footer .footnav { display: none; }
  #footer .footBot { padding: 0 0 0; }
  #footer .footBot .container { padding: 25px 0; }
  #footer .footBot .container .row dl { width: 100%; }
  #footer .footBot .container .row dl:nth-child(2) { width: 100%; }
  .cta { background: #004600 url("../images/common/phonecall.png") no-repeat center center; border-bottom-left-radius: 40px; border-top: 2px solid #004600; border-top-left-radius: 40px; bottom: 1%; display: block; height: 80px; position: fixed; right: 0; text-decoration: none; text-indent: -9999em; width: 100px; z-index: 999; }
  .sticky { position: fixed; top: 0; width: 100%; z-index: 99; } }

@media screen and (max-width: 600px) { h1 { font-size: 8vw; }
  h2 { font-size: 5vw; }
  #welcome .wlcTop .container { max-width: 100%; }
  #welcome .wlcMid .wlcMidLeft h1 { margin-left: 0; }
  #welcome .wlcBot dl { width: 40%; }
  #section2 p { font-size: 7vw; } }

@media screen and (max-width: 460px) { #welcome .wlcTop .container { max-width: 76%; }
  #welcome .wlcBot dl { width: 100%; } }

@media screen and (max-width: 340px) { #welcome .wlcTop .container { max-width: 67%; } }
